<!doctype html>
<html>
<head>
    <title>Aeronaves</title>
    {% include('snippets/head.html') %}
</head>
<body>
    {% include('snippets/topbar.html') %}
    
    <div class="ui one column doubling stackable grid container">
        <div class="colunm">
            <div class="ui sizer vertical segment">
                <br>
              <div class="ui huge header">Todas as aeronaves</div>
               <br><br>
            </div>
        </div>
    </div>
    
    <div class="ui one column doubling stackable grid container">
      <div class="column">
        <div>
          <!-- --------------------------------------------- -->
            <table class="ui celled structured table">
              <thead>
                <tr>
                    <th rowspan="2">Modelo</th>
                    <th rowspan="2">Fabricante</th>
                    <th rowspan="2">Assentos</th>
                    <th colspan="2">Motor</th>
                </tr>
                <tr>
                  <th>Tipo</th>
                  <th>Quantidade</th>
                </tr>
              </thead>
              <tbody>
              {% for aeronave in aeronaves %}
                <tr>
                  <td>{{aeronave['modelo']|e}}</td>
                  <td>{{aeronave['fabricante']|e}}</td>
                  <td class="center aligned">{{aeronave['assentos']|e}}</td>
                  <td>
                    {{aeronave['motor_tipo']|e}}
                  </td>
                  <td>
                    {{aeronave['motor_quantidade']|e}}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            
          <!-- --------------------------------------------- -->
        </div>
      </div>
    </div>
</body>
</html>