<!doctype html>
<html>
<head>
    <title>Aeronaves</title>
    {% include('snippets/head.html') %}
</head>
<body>
    {% include('snippets/topbar.html') %}
    
    <div class="ui one column doubling stackable grid container">
        <div class="colunm">
            <div class="ui sizer vertical segment">
                <br>
              <div class="ui huge header">Todas as aeronaves</div>
               <br><br>
            </div>
        </div>
    </div>
    
    <div class="ui one column doubling stackable grid container">
      <div class="column">
        <div>
          <!-- --------------------------------------------- -->
            <div class="ui link cards">
              {% for aeronave in aeronaves %}
              <div class="card">
                <div class="image">
                  <img src="#">
                </div>
                <div class="content">
                  <div class="header">{{aeronave['modelo']|e}}</div>
                  <div class="meta">
                    <a>{{aeronave['fabricante']|e}}</a>
                  </div>
                  <div class="description">
                    <p>Assentos: {{aeronave['assentos']|e}}</p>
                    <p>Tipo de motor: {{aeronave['motor_tipo']|e}}</p>
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                    Joined in 2013
                  </span>
                  <span>
                    <i class="user icon"></i>
                    75 Friends
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          <!-- --------------------------------------------- -->
        </div>
      </div>
    </div>
</body>
</html>