<!doctype html>
<html>
<head>
    <title>Opendata AIG Brazil - Ocorrências Aeronáuticas na Aviação Civil Brasileira</title>
    {% include('snippets/head.html') %}
</head>
<body>
    {% include('snippets/topbar.html') %}
    <div class="ui main text container">
        <h1 class="ui header">Ocorrências Aeronáuticas na Aviação Civil Brasileira</h1>
        <p>Repositório com dados abertos sobre ocorrências aeronáuticas da aviação civil brasileira. Os dados extraídos já estão limpos e prontos para análises, no formato texto/cvs, separado por ~ (til).</p>
        <br><br><br><br><br><br>
    </div>

</body>
</html>